body{
    margin: 0;
    padding: 0;
}
.navbar ul{
    list-style-type: none;
    background-color: black;
    color: white;
    margin: 0px;
    overflow: hidden; 
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}
.navbar a:hover{
    background-color: gray;
}
.navbar li{
    float: left;
    
    
}
header{
    text-align: center;
    text-emphasis: none;
    padding: 15px;
    background-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
     text-align: center;
     font-size: 25px;
     background-color: gray;
    text-emphasis: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    text-align: center;
    font-size: 25px;
    background-color: gray;
   text-emphasis: none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
image{
    align-items: center;
    display: flex;

}
.image img{
    height: 290px;
    display: block;
    margin: auto;
    border-radius: 10%;
    border: 10px solid; 
}
.icons{
    display: flex;
    justify-content: center;
}
.fa-linkedin{
    font-size: 80px;
    color: blue;
    margin: 50px;
   
   
}
.fa-envelope{
    font-size: 80px;
    color: red;
    margin: 50px;
   
}
.fa-github{
    font-size: 80px;
    color: black;
    margin: 50px;    
}

a i{
    transition: all 0.3s;
}
a:hover i{
    font-size: 85px;
}
 footer{
    color: white;
    background-color: grey;
    text-align: center;
    padding: 35px;
    right: 0;
    left: 0;
    bottom: 0;
 }
